

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: "DMSerif";
    src: url(./assets/fonts/DMSerifDisplay-Regular.ttf);
}

body{
    font-family: 'DMSerif';
    background: url(./assets/img/parc\ des\ princes.jpg) center/cover no-repeat;
    /* Pour mettre a 100% */
    min-height: 100vh;
}

h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    /* Les tailles de polices doivent être en REM */
    font-size: 2.5rem;
    text-shadow: 2px 0px 1px blue;
    color: rgb(38, 99, 206);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

main{
    height: 500px;
    width: 90%;
    /* Centrer une boite */
    margin : 0 auto;
    background: rgba(162, 3, 141, 0.882);
    border: 2px solid rgb(215, 17, 152);
    border-radius: 20px  ;
    box-shadow: 4 0 0 rgba(47, 2, 64, 0.659);
}

.flexbox {
    border: 2px solid rgb(132, 32, 157);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
}

.flexbox li{
    list-style: none;
    height: 160px;
    width: 160px;
    margin: 10px;
    background: rgb(129, 9, 250);
    /* Centrer un unique élément verticalement ou horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox ul {
    padding: 0px;
    display: flex;
    justify-content: baseline;
}